includes:
	- vendor/phpstan/phpstan-mockery/extension.neon

parameters:
	excludePaths:
	    - tests/unit/Infrastructure/Repository/RedisInMemory.php
	    - tests/unit/Infrastructure/Factory/RedisFactory.php
